<app-modal [(visible)]="modalVisible"></app-modal>

{{ modalVisible }}

<button (click)="modalVisible = !modalVisible" class="btn btn-primary">
  Abrir modal
</button>

<h2>Alumnos aprobados</h2>

<!-- AppComponent renderiza dentro de si a AppListaAlumnos
  diriamos que AppComponent es padre de AppListaAlumnos

-->

<app-lista-alumnos
  (eliminarAlumno)="eliminarAlumno($event.index, 'aprobados')"
  [alumnos]="alumnosAprobados"
></app-lista-alumnos>

<h2>Alumnos desaprobados</h2>

<app-lista-alumnos
  (eliminarAlumno)="eliminarAlumno($event.index, 'desaprobados')"
  [alumnos]="alumnosDesaprobados"
></app-lista-alumnos>

<hr />

<button #myButton class="btn primary">Click me!</button>
